<!DOCTYPE html>
<html>
<head>
    <title>Dumpster</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <titulo>Dumpster</titulo>
    <hr>
    
    </div>
    <br>
    <br>
    <table align="center">
      <tr>
        <th>User</th>
        <th>Post ID</th>
        <th>Post Title</th>
        <th>Action</th>
        
      </tr>
      <tr>
        <% @dump.each do |d|%>
          <td><%= User.find(d.user_id).name %></td>
          <td><%= Post.find(d.id).id %></td>
          <td><%= Post.find(d.id).title %> </td>
          <td><%= link_to "Restore", restoredump_path(:post_id => d.id), class: "btn btn-success btn-md"%></td>
        <% end %>
      </tr>
      
    </table>
    <br>
</body>
 
</html>