<!DOCTYPE html>
<html>
<head>
    <title>Dumpster</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <titulo>Dumpster</titulo>
    <div align="right">
        <input type="button" value="Logout" />
    </div>
    <hr>
    <br>
    <div align="right">
        <input type="text" placeholder="Search..">
    </div>
    <br>
    <br>
    <table align="center">
      <tr>
        <th>User</th>
        <th>Post ID</th>
        <th>Post Title</th>
        <th>Action</th>
        
      </tr>
      <tr>
        <td>User 1</td>
        <td>24</td>
        <td>A Intresting Title</td>
        <td><button class="btn btn-primary btn-md">Restore</button></td>
        
      </tr>
      <tr>
        <td>User 2</td>
        <td>122</td>
        <td>A Meh Title</td>
        <td><button class="btn btn-primary btn-md">Restore</button></td>
        
      </tr>
      <tr>
        <td>User 3</td>
        <td>3</td>
        <td>Some Title</td>
        <td><button class="btn btn-primary btn-md">Restore</button></td>
        
      </tr>
    </table>
    <br>
</body>
 
</html>