<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <titulo>Registration</titulo>
        <div align="right">
    </div>
    <hr>
    <br>
    <div class= "c">
        User Name: <input type="text" name="fname">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Password: <input type="text" name="fname">
        <br>
    </div>
    <br>
    <div class= "c">
        Email: <input type="text" name="fname">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        GPS: <input type="text" name="fname">
        <br>
    </div>
    <br>
    <div class= "c">
        City: <input type="text" name="fname">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Country: <input type="text" name="fname">
        <br>
    </div>
    <br>
    <div class= "c">
         <a>Bio:</a>
    </div>
    <div class= "c">
         <textarea rows="5" cols="60">
         </textarea>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class= "c"><box>
        </box>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <br>
    <br>
    <br>
    <div class= "c">
        <button class="button">Add Photo</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
        
        <button class="button">Create</button>
        <br>
        <br>
        <button class="button">AUP</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="button">ToS</button>
    </div>
    <br>
    <div class="r">
        <button class="button">Back</button>
    </div>
</body>
 
</html>