<!DOCTYPE html>
<html>
<head>
    <title>Blacklist</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <titulo>Blacklist</titulo>
    
    <hr>
    <br>
    <div align="center">
        <input type="text" placeholder="Search..">
    </div>
    <br>
    <br>
    <table align="center">
      <tr>
        <th>User</th>
        <th>Action</th>
        
      </tr>
      <% @bl.each do |u|%>
        <tr>
          <td><%= u.name %></td>
          <td><%= button_to "Give Major Pardon", redeem_path(:user => u.id), :class => "btn btn-primary btn-md" %></td>
        </tr>
      <% end %>

    </table>
    <br>
</body>
 
</html>