<!DOCTYPE html>
<html>
<head>
    <title>Edit Profile</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <titulo>Edit Profile</titulo>
        <div align="right">
    <input type="button" value="Logout" />
    </div>
    <hr>
    <br>
    <div class= "c">Name: <input type="text" name="fname"><br></div>
    <br>
    <div class= "c">Location: <input type="text" name="fname"><br></div>
    <br>
    <a>Bio:</a>
     <div class= "c">
         <textarea rows="5" cols="70">
         </textarea>
    </div>
    <br>
    <br>
     <div class= "c"><input type="button" value="Save Changes" /></div>
    <br>
    <div class="r">
        <button class="button">Back</button>
    </div>
</body>
 
</html>
