<!DOCTYPE html>
<html>
    <head>
        <title>Password Recovery</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div class="row">
            <div class="col-md-4"></div>
            
            <div class="col-md-4"><titulo>Password Recovery</titulo>
            </div>

            <div class="col-md-3"></div>
            <div class="col-md-1">
            </div>
        </div>

        <hr>
        <br>

        <div class="row">
            <div class="col-md-4"></div>
            
            <div class="col-md-4">Email: <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
            </div>

            <div class="col-md-4"></div>

        </div>
    
        <br>
        <div class= "c">
            <button  class="btn btn-primary btn-md">Send Mail</button>
        </div>
        <br>
        
    </body>
</html>