<!DOCTYPE html>
<html>
<head>
    <title>User Search</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <titulo>User Search</titulo>
    <div align="right">
        <input type="button" value="Logout" />
    </div>
    <hr>
    <br>
    <div align="right">
        <input type="text" placeholder="Search..">
    </div>
    <br>
    <br>
    <table align="center">
      <tr>
        <th>User</th>
        <th>Nickname</th>
        <th>Location</th>
        
      </tr>
      <tr>
        <td>User 1</td>
        <td>Joe</td>
        <td>Chile</td>
        
      </tr>
      <tr>
        <td>User 2</td>
        <td>Nick</td>
        <td>Mexico</td>
        
      </tr>
      <tr>
        <td>User 3</td>
        <td>Dude</td>
        <td>Iraq</td>
        
      </tr>
    </table>
    <br>
    <div class="r">
        <button class="button">Back</button>
    </div>
</body>
 
</html>