<!DOCTYPE html>
<html>
<head>
    <title>Post Search</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <titulo>Post Search</titulo>
    <div align="right">
        <input type="button" value="Logout" />
    </div>
    <hr>
    <br>
    <div align="right">
        <input type="text" placeholder="Search..">
    </div>
    <br>
    <br>
    <table align="center">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Author</th>
        
      </tr>
      <tr>
        <td>An Intresting Title</td>
        <td>Lorem ipsum dolor sit amet consectetur adipiscing elit fringilla sapien, tempus sodales conubia aliquam habitant nisi imperdiet nec molestie, aptent sollicitudin habitasse nulla gravida placerat bibendum mi. Erat venenatis volutpat penatibus nisl fames diam viverr</td>
        <td>User 1</td>
        
      </tr>
      <tr>
        <td>A Meh Title</td>
        <td>s sodales conubia aliquam habitant nisi imperdiet nec molestie, aptent sollicitudin habitasse nulla gravida placerat bibendum mi. Erat venenatis volutpat penatibus nisl fames diam viver</td>
        <td>User 1</td>
        
      </tr>
      <tr>
        <td>Im So Tierd</td>
        <td>bia aliquam habitant nisi imperdiet nec molestie, aptent sollicitudin habitasse nulla gravida pl</td>
        <td>User 3</td>
        
      </tr>
    </table>
</body>
 
</html>