<div class = 'c'>
    <%= form_tag(geofences_checkfence_path(:user_id => @user_id)) do %>
        <tr>Be careful with the location you enter, each user is assigned to a city, type carefully</tr>
        <%= text_field_tag :location %>
        <%= submit_tag 'Add', :class => "btn btn-primary btn-md" %>
    <% end %>
</div>