<div class = 'c'>
    <table class = "scroll">
        <TC><%= User.find(@usr_id).name%></TC>
        <tr>
            <th>Fence</th>
            <th>Delete</th>
        </tr>
        <%if @fence != nil %>
            <tr>
                <% @fence.each do |f|%>
                    <%= f.location %>
                <% end %>
            </tr>
        <% end %>
        
    </table>
    <div class = "c">
        <%= link_to "Add Fence", as_path(:user_id => @usr_id), class: "btn btn-success btn-md"%>
    </div>
</div>