<div class = "c">
    <% pos.each do |p|%>
        <tr>
            <td><%= p.id %></td>
            <td><%= p.post_id %></td>
            <td><%= p.comment %></td>
            <td><%= p.category %></td>
        </tr>
    <% end %>
</div>